version: 2

jobs:
  build:
    working_directory: ~/workspace
    environment:
      JVM_OPTS: -Xms512m -Xmx4096m
      GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError" -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false
      ANDROID_API_LEVEL: 29
      EMULATOR_API_LEVEL: 22
      ANDROID_ABI: armeabi-v7a
      ANDROID_TAG: google_apis
      ANDROID_TARGET: android-$ANDROID_API_LEVEL
      ADB_INSTALL_TIMEOUT: 20 # minutes (2 minutes by default)
    docker:
      - image: circleci/android:api-29
    steps:
      - checkout
      - run:
          name: Decode Api URL
          command: echo ${MUSIC_URI} | base64 --decode > ${HOME}/workspace/local.properties
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "presentation/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradlew
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "presentation/build.gradle" }}
      - run:
          name: Run Unit Tests
          command: ./gradlew test
      - run:
          name: Assemble Debug APK
          command: ./gradlew clean assembleDebug -xlint -PdisablePreDex --no-daemon
      - store_artifacts:
          path: app/build/outputs/apk
          destination: apk
          environment:
            TERM: dumb
      - store_artifacts:
          path: app/build/reports
          destination: reports
          environment:
            TERM: dumb
      - store_test_results:
          path: app/build/test-results
          environment:
            TERM: dumb
